<p>formulario works!</p>

<div class="container-register">
    <form action="" method="POST" class="formulario-registro">
        <h2 class="titulo-registro">Registrarse</h2>
        <fieldset>
            <label for="">Nombre</label>
            <input type="text" name="nombre" id="">
        </fieldset>
        <fieldset>
            <label for="">Apellido</label>
            <input type="text" name="apellido" id="">
        </fieldset>
        <fieldset>
            <label for="">Nombre Usuario</label>
            <input type="text" name="usuario" id="">
        </fieldset>
        <fieldset>
            <label for="">Correo</label>
            <input type="email" name="correo" id="">
        </fieldset>
        <fieldset>
            <label for="">Contraseña</label>
            <input type="password" name="contrasenia" id="">
        </fieldset>
        <button type="submit">Registrarse</button>
    </form>
</div>